@using Microsoft.Extensions.Options
@using Ambrosia.Entities.Concrete
@inject IOptions<WebSiteInfo> WebSiteInfo
@{
    var webSiteInfo = WebSiteInfo.Value;
}

<!DOCTYPE HTML>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="@webSiteInfo.SeoDescription">
    <meta name="author" content="@webSiteInfo.SeoAuthor">
    <meta name="keywords" content="@webSiteInfo.SeoTags" />
    <title>@ViewBag.Title | @webSiteInfo.Title</title>
    <link rel="stylesheet" href="~/BlogHome/assets/css/blogSite.css" />
    <link rel="stylesheet" href="~/BlogHome/assets/css/error-page-bg-animation.css" />
    <noscript><link rel="stylesheet" href="~/BlogHome/assets/css/noscript.css" /></noscript>
</head>
<body class="wrapper">

    <div id="layoutError">
        <div id="layoutError_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        @RenderBody()
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- Scripts -->
    <script src="~/BlogHome/assets/js/jquery.min.js"></script>
    <script src="~/BlogHome/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/BlogHome/assets/js/browser.min.js"></script>
    <script src="~/BlogHome/assets/js/breakpoints.min.js"></script>
    <script src="~/BlogHome/assets/js/util.js"></script>
    <script src="~/BlogHome/assets/js/main.js"></script>
    <script src="~/BlogHome/assets/js/blogSite.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>