@model Ambrosia.Mvc.Models.CombinedViewModel
@{
    Layout = "_Layout";
}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo"><img src="~/BlogHome/images/ambrosia-logo.png" /></div>
    </div>
</section>
<!-- Wrapper -->
<section id="wrapper">

    <!-- One -->
    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <a href="#" class="image"><img src="~/BlogHome/images/bust.png" alt="" /></a>
            <div class="content">
                <h2 class="major">@Model.AboutUsPageInfo.IntroHeader</h2>
                <p>
                    @Model.AboutUsPageInfo.IntroContent
                </p>
                <a asp-controller="Home" asp-action="About" class="special">Devamını Oku</a>
            </div>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">Menü</h2>
            <p>Ambrosia’nın menüsü, sağlıklı yaşam tarzını benimseyenler için özenle hazırlanmış seçenekler sunar. Her bir yemeğimiz ve içeceğimiz, doğanın en saf ve besleyici malzemeleri ile hazırlanır. Siz de bu eşsiz lezzetleri keşfetmek için Ambrosia’yı ziyaret edin ve sağlıklı yaşam yolculuğunuzda bize katılın!</p>
            <section class="features menu">
                <article>
                    <a href="#" class="image"><img src="~/BlogHome/images/tatli1.png" alt="" /></a>
                    <h3 class="major">Limonlu Tart</h3>
                    <p>Bu nefis Limonlu Çilekli Tart, altın sarısı limon dolgusu ve taze çilek ile yaban mersini süslemesiyle göz kamaştırıyor. Hafif ve ferahlatıcı tadıyla her lokmada damaklarınızı şenlendirecek. Özel günlerinizde veya günlük tatlı kaçamaklarınızda mükemmel bir tercih!</p>
                    <div class="price">
                        <strong class="new-price">145₺</strong>
                    </div>
                    <button href="#" class="btn">Sepete Ekle</button>
                </article>
                <article>
                    <a href="#" class="image"><img src="~/BlogHome/images/tatli2.png" alt="" /></a>
                    <h3 class="major">Tropikal Tart</h3>
                    <p>Bu nefis Tropikal Tart, altın sarısı dolgu ve taze meyvelerle süslenmiş. Hafif ve ferahlatıcı tadıyla her lokmada damaklarınızı şenlendirecek.</p>
                    <div class="price">
                        <strong class="new-price">145₺</strong>
                    </div>
                    <button href="#" class="btn">Sepete Ekle</button>
                </article>
            </section>
            <ul class="actions">
                <li><a asp-controller="Product" asp-action="Index" class="button">Tümüne Göz At</a></li>
            </ul>
        </div>
    </section>
</section>
<!-- Footer -->
<section id="footer">
    <div class="inner">
        <h2 class="major">Bizimle İletişime Geçin</h2>
        <p>Öneri, geri bildirim veya menümüze eklenmesini istediğiniz bir ürün hakkında bizimle iletişime geçmekten çekinmeyin. Ambrosia ailesi olarak, siz değerli müşterilerimizin görüşlerine büyük önem veriyoruz.</p>
        <form asp-controller="Home" asp-action="Contact" method="post">
            <div class="fields">
                <div class="field">
                    <label for="name">İsminiz</label>
                    <input type="text" name="name" id="name" asp-for="@Model.EmailSendDto.Name" />
                </div>
                <div class="field">
                    <label for="email">E-Posta adresiniz</label>
                    <input type="email" name="email" id="email" asp-for="@Model.EmailSendDto.Email" />
                </div>
                <div class="field">
                    <label for="message">Mesajınız...</label>
                    <textarea name="message" id="message" asp-for="@Model.EmailSendDto.Message" rows="2"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Mesaj Gönder" /></li>
            </ul>

        </form>

        <ul class="contact">
            <li class="icon solid fa-home">
                Ambrosia Restaurant<br />
                Lezzet Caddesi 1400. Sokak<br />
                Ankara, Türkiye 06000
            </li>
            <li class="icon solid fa-phone">(000) 000-0000</li>
            <li class="icon brands fa-twitter"><a href="https://twitter.com/AmbrosiaDünyası" target="_blank">twitter.com/AmbrosiaDünyası</a></li>
            <li class="icon brands fa-facebook-f"><a href="https://facebook.com/AmbrosiaDunyasi" target="_blank">facebook.com/AmbrosiaDunyasi</a></li>
            <li class="icon brands fa-instagram"><a href="https://instagram.com/AmbrosiaDunyasi" target="_blank">instagram.com/AmbrosiaDunyasi</a></li>
        </ul>
        <ul class="copyright">
            <li>Tüm Hakları Saklıdır &copy; Ambrosia 2024</li>
        </ul>
    </div>
</section>